# SISTEMA OPERACIONAL
.DS_Store
Thumbs.db

# VSCODE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

# AMBIENTE
.env
.env.*
*.env

# ARQUIVOS TEMPORÁRIOS
*.tmp
*.swp
*.swo