:root {
    --blueColor: rgb(21, 49, 175);
    --blueDarkColor: rgb(7, 23, 97);
    --grayColor: #24242b;
    --darkColor: #12121c;
    --whiteColor: rgb(255, 255, 255);
    --redColor: rgb(179, 25, 25);
    --comumBorder: #464649 solid 1px;
    --comumBorderRadius: 1rem;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--darkColor);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2, h3, p, a {
    color: var(--whiteColor);
}

h1, h2, h3 {
    font-family: var(--fontPoltawski);
}

h1{
    font-size: 3.5rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2rem;
}

p, button{
    font-family: var(--fontInter);
    font-size: 1.1rem;
}

a{
    text-decoration: underline;
    cursor: pointer;
}

a:hover{
    color: var(--blueColor)
}

.allScreen{
    width: 100vw;
    height: 100vh;

    max-width: 100vw;
    max-height: 100vh;
    box-sizing: border-box;
}

.leftedPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 2.5rem;
    gap: 1rem;
}
