:root {
    --blueColor: rgb(21, 49, 175);
    --blueDarkColor: rgb(7, 23, 97);
    --grayColor: #24242b;
    --darkColor: #17171d;
    --whiteColor: rgb(255, 255, 255);
    --redColor: rgb(179, 25, 25);
    --comumBorder: #464649 solid 1px;
    --comumBorderRadius: 1rem;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--darkColor);
}

h1, h2, h3, p, a {
    color: var(--whiteColor);
}

h1, h2, h3 {
    font-family: var(--fontPoltawski);
}

h1{
    font-size: 3.5rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2rem;
}

p, button{
    font-family: var(--fontPrimary);
    font-size: 1.1rem;
}

a{
    text-decoration: underline;
    cursor: pointer;
}

a:hover{
    color: var(--blueColor)
}

.toast {
    background: var(--darkColor) !important;
    font-family: var(--fontPrimary);
    padding: 1.2rem 2rem !important;
    min-height: 58px !important;
    border-radius: 1rem;

    font-family: var(--fontPrimary) !important;
    font-size: 12pt !important;

    backdrop-filter: blur(12px);

    border: 1px solid transparent !important;

    box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.35) !important;

    transition: all 0.2s ease;
    border: 1px solid gray !important;
}

.toast-success {
    color: #dcfce7 !important;
}

.toast-success [data-description] {
    color: #86efac !important;
}

.toast-error {
    color: #fee2e2 !important;
}

.toast-error [data-title] {
    color: #fee2e2 !important;
}

.toast-error [data-description] {
    color: #fca5a5 !important;
}

.toast [data-close-button] {
    background: var(--blueColor) !important;
    border: none !important;
    color: white !important;

    border-radius: 999px !important;
    font-size: 24pt !important;
}

.toast [data-close-button]:hover {
    background: rgb(191, 28, 28) !important;
}