.imageLabel{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .2rem;
}

.sideFields{
    display: flex;
    flex-direction: row;
    gap: .5rem
}

.perfilData, .basicData{
    display: flex;
    flex-direction: column;

    gap: 1.2rem;
}