.button{
    color: var(--whiteColor);
    background-color: var(--blueDarkColor);

    font-weight: bold;
    
    cursor: pointer;
    padding: .5rem 1rem;
    
    outline: none;
    border: none;
    border-radius: 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .4rem;
}

.button:hover{
    background-color: var(--blueColor);
}

.button p{
    display: flex;
    align-items: center;
}