.button{
    color: var(--whiteColor);
    background-color: var(--blueColor);

    font-weight: bold;
    
    cursor: pointer;
    padding: .7rem 1rem;
    
    outline: none;
    border: none;
    min-width: 8rem;
    border-radius: 999px;;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .4rem;
    transition: all 100ms ease-in-out;
}

.button:hover{
    background-color: var(--blueDarkColor);
    border: 1px solid #53537f;
    transform: scale(1.05);
}

.button p{
    display: flex;
    align-items: center;
}