.textLabel{
    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .2rem;
    padding: .2rem;
}

.textInput{
    box-sizing: border-box;

    background-color: transparent;
    border: 1px solid gray;
    border-radius: .5rem;
    padding: .5rem 2rem .5rem 1rem;
}

.maintextInputArea{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}

.lateral{
    flex-direction: row;
}

.cima{
    flex-direction: column;
    align-items: center;
}

.aviso{
    font-size: .8rem;
    opacity: 0.8;
}